* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container2{
    width: 100%;
}



header {
    background: rgba(255, 255, 255, 0.9);
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.logo a {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.logo a:hover {
    color: #4A569D;
}

ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

li a:hover {
    color: #4A569D;
}


.header-link {
    text-decoration: none;
    color: inherit;
}

.header-content h1 {
    margin: 0;
    color: #333;
    font-size: 2rem;
}


.body {
    background: linear-gradient(135deg, #00416A, #E4E5E6);
    /* background: linear-gradient(135deg, #0F2027, #203A43, #2C5364);
    background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d); */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 900px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}


.boxes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

/* .btn{
    border-radius: 24px;
    font-size: medium;
}

.btn:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
} */


.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.classes{
    font-size: 1.8rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}

.hours {
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-top: auto;
}

a{
    text-decoration: none;
}

.class5{
    color: #16222A;
}

/* .class6{
    color: #f39c12;
}

.class7{
    color: #3498db;
}

.class8{
    color: #2ecc71;
}

.class9{
    color: #9b59b6;
}
.class10{
    color: #5c255f;
}

.class11{
    color: #34495e;
} */




/* Адаптивность для мобильных устройств */
@media (max-width: 380px) {
    .boxes-container {
        grid-template-columns: 1fr;
    }
    
    h1 {
        font-size: 2rem;
    }

}
